    <footer class="footer">
        <div class="row row-footer">
            <div class="nav">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    {% include "website/nav_list.html" %}
                </ul>
            </div>
            <div class="address">
                <h5>Address</h5>
                <address>
                    Friends of the Grafton Public Library<br>
                    PO Box 387<br>
                    Grafton MA 01519<br>
                    <a href="mailto:info@friendsgpl.org">info@friendsgpl.org</a>
                </address>
            </div>
            <div class="social-media">
                <h5>Social Media</h5>
                <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/Friends-of-the-Grafton-Public-Library-203738076330695" target="_blank"><span class="fa fa-facebook"></span> Like the Friends on Facebook!</a>
                <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/GraftonPublicLibraryMA/" target="_blank"><span class="fa fa-facebook"></span> Like the library on Facebook!</a>
            </div>
        </div>
    </footer>

