{% extends "website/base.html" %}
{% load static %}
    {% block jumbotron %}
        <div class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-xs-12 col-sm-3 col-sm-push-9">
                        <img class="img-responsive" src="{% static 'website/images/logo_no_words.png' %}" alt="Logo for the Friends of the Grafton Public Library">
                    </div>
                    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                        <h1>{% block title %}Welcome{% endblock %}, Friend!</h1>
                        <p class="lead">The Friends of the Grafton Public Library: Providing volunteer and fundraising support to the Grafton Public Library in Grafton, MA.</p>
                        <a class="btn btn-secondary btn-xl" href="{% url 'join' %}" role="button">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body %}
        <article class="row row-content home">
            <section class="col-xs-12 col-sm-4 col-md-5 col-lg-6">
                {{ content | safe }}
            </section>
            <section class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
                <h1>News and Events</h1>
                <p>To see what we're up to, use our Facebook page plugin below.  For upcoming events, check the events tab.  For recent news, check the timeline tab.</p>
                <div class="fb-page" data-href="https://www.facebook.com/GPLFriends/" data-tabs="timeline, events" data-height="600" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/GPLFriends/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/GPLFriends/">Friends of the Grafton Public Library</a>
                    </blockquote>
                </div>
            </section>
        </article>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}
