{% extends "website/base.html" %}
{% load static %}
    {% block body %}
        <div class="row row-content join">
            <div class="col-xs-12">
                <h1>{% block title %}Join the Friends{% endblock %}</h1>
                <p>You can download and print the <a href="{% static 'misc_docs/friendsgpl_membership_form_2016.docx' %}">membership form</a> and submit it with a check via snail mail (all info including address is on the form), or fill out the internet form below and pay securely via Paypal.</p>
                <p>If you're already a member, you can use the same form or paypal links to renew. If you're unsure if your membership is up to date, <a href="{% url 'contact' %}">contact us</a>.</p>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <form role="form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <div class="form-group">
                            <label for="dues_level">Dues Level</label>
                            <select class="form-control" id="dues_level" name="a3">
                                <option value="5">Student/Senior - $5</option>
                                <option value="10">Individual - $10</option>
                                <option value="25" selected="selected">Family - $25</option>
                                <option value="100">Best Friend - $100</option>
                                <option value="250">Business - $250</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div class="form-group" id="other_amount_fg">
                            <label for="other_amount">Amount</label>
                            <input class="form-control" id="other_amount" name="">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="is_recurring">Make recurring payment?</label>
                        </div>
                        <div class="form-group" id="recurrence_interval" hidden="hidden">
                            <label class="radio-inline">
                                <input type="radio" name="t3" id="recurrence_interval_monthly" value="M">Monthly
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="t3" id="recurrence_interval_annual" value="Y" checked="checked">Annual
                            </label>
                        </div>
                        <input type="image" id="join_button" src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_donate_cc_147x47.png" border="0" name="submit" alt="Secure payments processed by PayPal" onClick="javascript: pageTracker._trackPageview(‘/outgoing/paypal.com?monthly’);">

                        <input type="hidden" id="cmd" name="cmd" value="_xclick-subscriptions">
                        <input type="hidden" name="business" value="dan@friendsgpl.org">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="no_shipping" value="1">
                        <input type="hidden" id="item_name" name="item_name" value="Friends Membership - Annual Recurring Dues Payment" />
                        <input type="hidden" name="p3" value="1">
                        <input type="hidden" name="src" value="1">
                        <input type="hidden" name="sra" value="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
