                    <li>
                        <a class="" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'join' %}">Join</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'volunteer' %}">Volunteer</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'downunder' %}">Bookstore</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'contact' %}">Contact</a>
                    </li>
