{% extends "friends/base.html" %}
    {% block body %}
        <div class="row row-content about">
            <div class="col-xs-12">
                <h1>{% block title %}Contact Us{% endblock %}</h1>
                <p>
                    The best way to contact us is via email: <a href="mailto:info@friendsgpl.org">info@friendsgpl.org</a>.  You can also message us or post on our <a href="https://www.facebook.com/GPLFriends">Facebook page</a>.  If you're old school, you can send mail to:
                </p>
                <p>
                    Friends of the Grafton Public Library<br>
                    PO Box 387<br>
                    Grafton, MA 01519
                </p>
            </div>
        </div>
    {% endblock %}
