    <footer class="footer">
        <div class="row row-footer">
            <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <h5>Pages</h5>
                        <ul class="list-unstyled">
                            {% include "friends/nav_list.html" %}
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <h5>Address</h5>
                        <address>
                            Friends of the Grafton Public Library<br>
                            PO Box 387<br>
                            Grafton MA 01519<br>
                            <a href="mailto:info@friendsgpl.org">info@friendsgpl.org</a>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 col-lg-5">
                <div class="row">
                    <div class="col-xs-4">
                        <h5>Wrong Grafton?  Try one of these:</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="http://www.townofgraftonnh.com/aboutus/graftonpubliclibrary.html">New Hampshire</a>
                            </li>
                            <li>
                                <a href="http://www.graftonpubliclibrary.net/">Wisconsin</a>
                            </li>
                            <li>
                                <a href="http://www.crl.nsw.gov.au/clarence-valley-libraries/grafton-library/">New South Wales</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <h5>Social Media</h5>
                        <div class="nav navbar-nav">
                            <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/Friends-of-the-Grafton-Public-Library-203738076330695" target="_blank"><span class="fa fa-facebook"></span> Like the Friends on Facebook!</a>
                            <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/GraftonPublicLibraryMA/" target="_blank"><span class="fa fa-facebook"></span> Like the library on Facebook!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

