    <footer class="footer">
        <div class="row row-footer">
            <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Pages</h5>
                <ul class="list-unstyled">
                    {% include "friends/nav_list.html" %}
                </ul>
            </div>
            <div class="col-xs-8 col-sm-4">
                <h5>Address</h5>
                <address>
                    <span class="fa fa-home"></span>Friends of the Grafton Public Library<br>
                    <span class="fa "></span>PO Box 387<br>
                    <span class="fa "></span>Grafton MA 01519<br>
                    <span class="fa fa-envelope"></span><a href="mailto:info@friendsgpl.org">info@friendsgpl.org</a>
                </address>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
                <h5>Social Media</h5>
                <div class="nav navbar-nav">
                    <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/Friends-of-the-Grafton-Public-Library-203738076330695" target="_blank"><span class="fa fa-facebook"></span> Like the Friends on Facebook!</a>
                    <a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/GraftonPublicLibraryMA/" target="_blank"><span class="fa fa-facebook"></span> Like the library on Facebook!</a>
                </div>
            </div>
        </div>
    </footer>
