/* Custom page header */
header {
	border-bottom: 1px solid #e5e5e5;

    .navbar-inverse {
        background: $navbar_bg_color;
        color: $navbar_color;
        a.navbar-brand {
            color: $navbar_color;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            line-height: 50px;
            img {
                margin: 0px;
                padding: 0px;
                height: 50px;
            }
            &.title {
                border-radius: 4px;
                padding: 0 15px;
                &:hover {
                    background: $navpill_hover_bg_color;
                }
            }
        }
        .navbar-nav {
            > .open {
                > a, > a:hover, > a:focus {
                    background: $navpill_bg_color;
                }
            }
            > :not(.open) {
                > a {
                    color: $navbar_color;
                }
                > a:hover {
                    background: $navpill_hover_bg_color;
                }
            }
            > .external > a {
                background: $navpill_external_bg_color;
                color: $navpill_external_color;
            }
        }
    }
}


/* Main marketing message and sign up button */
.jumbotron {
	margin: 0px auto;
	padding: 20px 20px;
	border-bottom: 1px solid #e5e5e5;
	background: $jumbotron_bg_color;
	color: #fff;
	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}
	h1 {
	}
}



