$brand_primary: #00A787;
$brand_secondary: #00A0FC;
$link_color: $brand_secondary;
$jumbotron_bg_color: $brand_primary;                                                                                                                                                                                     
$navbar_bg_color: darken($jumbotron_bg_color, 7%);
$navpill_bg_color: $jumbotron_bg_color;
$jumbotron_color: #fff;
$navbar_color: #fff;
$navpill_external_color: $navbar_color;
$navpill_external_bg_color: darken($jumbotron_bg_color, 7%);
$navpill_hover_bg_color: darken($jumbotron_bg_color, 20%);

$icon-font-path: unquote("../node_modules/bootstrap-sass/assets/fonts/bootstrap/");
