$icon-font-path: '../fonts/';

@import 'variables';

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

@import 'header';
@import 'footer';
@import 'messages';
//@import 'screensize_pull';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

h3 {
  font-size: 22px;
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media only screen and (min-width : 992px) {
  .container {
    max-width: 930px;
  }
}

@media only screen and (min-width : 1200px) {
  .container {
    max-width: 1150px;
  }
}

.container.content {
  min-height: 400px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  &:not(:last-child) {
    border-bottom: 1px ridge;
  }
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #32393f;
}

//two workarounds for adblock overkill
.my-fa-facebook:before {
  content: "\f09a";
}
//.fb{
//  @extend .btn-facebook
//}

#join_button {
  width: 150px;
}

#join_info {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(7);
  @include make-lg-column(8);
}

#join_form {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(5);
  @include make-lg-column(4);
  border: 2px solid $navbar_bg_color;
  border-radius: 5px;
  form {
    #total-fg {
      font-size: x-large;
      label::after {
          content: ": ";
      }
      div, p, label{
        display: inline;
      }
    }
    > .form-group {
      > label {
        @extend .control-label;
      }
    }
  }
}

.paypal {
  font-style: italic;
  font-weight: bold;
  font-family: "verdana";
  span:first-child {
    color: $paypal_pay_text_color;
  }
  span:last-child {
    color: $paypal_pal_text_color;
  }
  >a {
    background-color: $paypal_button_background;
    padding: 8px 12px;
    border-radius: 50px;
    text-decoration: none;
    &:hover {
      background-color: darken($paypal_button_background, 8%);
    }
    &:active {
      background-color: darken($paypal_button_background, 16%);
    }
  }
}

.btn-secondary {
    @include button-variant(white, $brand_secondary, darken($brand_secondary, 15%));
    font-weight: bold;
}
.btn-xl {
    @include button-size(14px, 24px, 21px, $line-height-large, $btn-border-radius-large);
}
